:root {
  --primary-black: #232323;
  --primary-white: #F2F2F2;
  --secondary-dark-gray: #4B4B4B;
  --secondary-light-gray: #C2C2C2;
  --accent-spotify: #1DB954;
  --switch-gray: #929292;
  --background-color: #F2F2F2;
  --text-color: #232323;
  --background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M54.627 0l.83.828-1.415 1.415L51.8 0h2.827zM5.373 0l-.83.828L5.96 2.243 8.2 0H5.374zM48.97 0l3.657 3.657-1.414 1.414L46.143 0h2.828zM11.03 0L7.372 3.657 8.787 5.07 13.857 0H11.03zm32.284 0L49.8 6.485 48.384 7.9l-7.9-7.9h2.83zM16.686 0L10.2 6.485 11.616 7.9l7.9-7.9h-2.83zm20.97 0l9.315 9.314-1.414 1.414L34.828 0h2.83zM22.344 0L13.03 9.314l1.414 1.414L25.172 0h-2.83zM32 0l12.142 12.142-1.414 1.414L30 .828 17.272 13.556l-1.414-1.414L28 0h4zM.284 0l28 28-1.414 1.414L0 2.544V0h.284zM0 5.373l25.456 25.455-1.414 1.415L0 8.2V5.374zm0 5.656l22.627 22.627-1.414 1.414L0 13.86v-2.83zm0 5.656l19.8 19.8-1.415 1.413L0 19.514v-2.83zm0 5.657l16.97 16.97-1.414 1.415L0 25.172v-2.83zM0 28l14.142 14.142-1.414 1.414L0 30.828V28zm0 5.657L11.314 44.97 9.9 46.386l-9.9-9.9v-2.828zm0 5.657L8.485 47.8 7.07 49.212 0 42.143v-2.83zm0 5.657l5.657 5.657-1.414 1.415L0 47.8v-2.83zm0 5.657l2.828 2.83-1.414 1.413L0 53.456v-2.83zM54.627 60L30 35.373 5.373 60H8.2L30 38.2 51.8 60h2.827zm-5.656 0L30 41.03 11.03 60h2.828L30 43.858 46.142 60h2.83zm-5.656 0L30 46.686 16.686 60h2.83L30 49.515 40.485 60h2.83zm-5.657 0L30 52.343 22.343 60h2.83L30 55.172 34.828 60h2.83zM32 60l-2-2-2 2h4zM59.716 0l-28 28 1.414 1.414L60 2.544V0h-.284zM60 5.373L34.544 30.828l1.414 1.415L60 8.2V5.374zm0 5.656L37.373 33.656l1.414 1.414L60 13.86v-2.83zm0 5.656l-19.8 19.8 1.415 1.413L60 19.514v-2.83zm0 5.657l-16.97 16.97 1.414 1.415L60 25.172v-2.83zM60 28L45.858 42.142l1.414 1.414L60 30.828V28zm0 5.657L48.686 44.97l1.415 1.415 9.9-9.9v-2.828zm0 5.657L51.515 47.8l1.414 1.413 7.07-7.07v-2.83zm0 5.657l-5.657 5.657 1.414 1.415L60 47.8v-2.83zm0 5.657l-2.828 2.83 1.414 1.413L60 53.456v-2.83zM39.9 16.385l1.414-1.414L30 3.658 18.686 14.97l1.415 1.415 9.9-9.9 9.9 9.9zm-2.83 2.828l1.415-1.414L30 9.313 21.515 17.8l1.414 1.413 7.07-7.07 7.07 7.07zm-2.827 2.83l1.414-1.416L30 14.97l-5.657 5.657 1.414 1.415L30 17.8l4.243 4.242zm-2.83 2.827l1.415-1.414L30 20.626l-2.828 2.83 1.414 1.414L30 23.456l1.414 1.414zM56.87 59.414L58.284 58 30 29.716 1.716 58l1.414 1.414L30 32.544l26.87 26.87z' fill='%238e8e8e' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.justify-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-center {
  align-self: center;
}

.align-self-end {
  align-self: flex-end;
}

.text-align-center {
  text-align: center;
}

/* The switch - the box around the slider */
.switch-container {
  position: fixed;
  top: 2.75rem;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #929292;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #929292;
}

input:focus + .slider {
  box-shadow: 0 0 1px #929292;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.typing-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.typing-container p {
  font-size: 20px
}

.typing-container h1 {
  /* padding: 0.5rem; */
  font-weight: bold;
  /* letter-spacing: 0.1rem; */
  text-align: center;
  overflow: hidden;
}

.typing-container h1 span.typed-text {
  color: #1DB954;
  font-weight: bold;
}

.typing-container h1 span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
}

.typing-container h1 span.cursor.typing {
  -webkit-animation: none;
          animation: none;
}

.intro-text {
  padding-left: 2rem;
  padding-right: 2rem;
}

@-webkit-keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}

@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}
.timeline {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  list-style: none;
}
.timeline .timeline-item {
  position: relative;
  padding-top: 0.5rem;
  display: flex;
  flex-direction: row;
}
.timeline .timeline-content {
  margin-left: 2rem;
}
.timeline .timeline-content h2 {
  font-size: 1.25rem;
  font-family: "Assistant";
  margin: 0;
}
.timeline .accent {
  color: #1DB954;
}
.timeline .timeline-line {
  width: 1rem;
}
.timeline .timeline-line:before {
  background: var(--text-color);
  border-radius: 100%;
  content: "";
  display: block;
  height: 10px;
  width: 10px;
  position: absolute;
  top: 1rem;
  left: 2.5rem;
}
.timeline .timeline-line:after {
  content: "";
  width: 1px;
  background: var(--text-color);
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2.75rem;
  height: 160%;
}
.timeline .start .timeline-line:before {
  background: var(--text-color);
  border-radius: 100%;
  content: "";
  display: block;
  height: 7px;
  width: 7px;
  position: absolute;
  top: 0rem;
  left: 2.6rem;
}
.timeline .start .timeline-line:after {
  content: "";
  width: 1px;
  background: var(--text-color);
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2.75rem;
  height: 500%;
}
.timeline .end .timeline-line:before {
  background: var(--text-color);
  border-radius: 100%;
  content: "";
  display: block;
  height: 7px;
  width: 7px;
  position: absolute;
  top: 0rem;
  left: 2.6rem;
}
.timeline .end .timeline-line:after {
  display: none;
}

.timeline .timeline-item h1 {
  font-size: 1.7rem;
}

.brand-icons a {
  padding: 0.3rem;
}

.spotify-cta {
  background-color: #1DB954;
  color: #F2F2F2;
}

small {
  font-size: 8px;
}

.arrow-right {
  display: none;
  position: absolute;
  right: 5rem;
  bottom: 5rem;
}

.arrow-left {
  display: none;
}

.chevron-down {
  margin: 2rem 0rem;
}

.logo object {
  width: 50%;
}

object {
  pointer-events: none;
}

html {
  box-sizing: border-box;
}

html ::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background-color: transparent;
}

html ::-webkit-scrollbar-track {
  border-radius: 1rem;
  background-color: transparent;
}

html ::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: var(--text-color);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Assistant";
}

a {
  text-decoration: none;
  color: var(--text-color);
}
a:hover, a:focus {
  text-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
}
a:active {
  border: 1px solid #1DB954;
}

article {
  margin-top: 10rem;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  z-index: 1;
  background-color: var(--background-color);
}

.primary-navigation {
  padding: 2rem 3.1rem;
}

.primary-nav-list {
  font-size: 3.0517578125rem;
  font-family: "Overpass";
  background-color: var(--background-color);
  display: none;
}

nav {
  position: absolute;
  top: 8vh;
  left: 0;
  height: 94vh;
  width: 98vw;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  position: relative;
  top: 40%;
  transform: translateY(-40%);
}
nav ul li a {
  display: block;
  width: 100%;
}
nav ul .cta a {
  background-color: #1DB954;
  color: #F2F2F2;
  box-shadow: 5px 8px 3px rgba(0, 0, 0, 0.25);
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  display: inline;
}
nav ul .cta small {
  font-size: 1.953125rem;
}

.intro-home {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro-home img {
  width: 15rem;
  height: 15rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 8px 12px 8px rgba(0, 0, 0, 0.25);
}
.intro-home h1 {
  font-size: 2.5rem;
  padding: 0;
  font-weight: 400;
}
.intro-home p {
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
}

.home {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
}
.home .home-info {
  text-align: center;
  font-size: 1.2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.home .home-info img {
  width: 17rem;
  height: 17rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 8px 12px 8px rgba(0, 0, 0, 0.25);
}

.home .home-info h1 {
  font-size: 1.953125rem;
  margin: 2rem 0 0 0;
}

.home .home-info h2 {
  margin: 0;
  font-style: italic;
  font-weight: 500;
}
.home .home-case-studies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem;
  padding-bottom: 10rem;
}
.home .home-case-studies img {
  width: 85%;
  border-radius: 1rem;
  box-shadow: 5.6px 8.5px 5.6px black;
}
.home .home-case-studies a {
  text-align: center;
}

.profile-resume {
  position: relative;
  display: inline-block;
}
.profile-resume a {
  padding: 1rem 3rem;
  font-weight: bold;
  border-radius: 3rem 0rem;
  box-shadow: 6px 12px 12px rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: 0;
  right: 0;
}

.about {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.about img {
  width: 75%;
  border-radius: 1.5rem;
  box-shadow: 8px 12px 8px black;
}
.about h1 {
  font-family: "Overpass";
  font-weight: 400;
  /* padding: 2rem 1.5rem; */
  border-radius: 2rem 0rem;
  box-shadow: 4.5px 6.75px 4.5px rgba(0, 0, 0, 0.25);
  /* display: inline-block; */
}
.about .spotify {
  text-align: center;
  /* padding-bottom: 5rem;
  padding-top: 5; */
  /* position: relative; */
  display: inline-block;
}

.about .spotify a {
  font-family: "Overpass";
  padding: 1rem 1rem;
  border-radius: 1rem 0rem;
}

.about-me {
  padding: 0 2rem;
  text-align: center;
}

.about-me .small {
  display: block;
}

.about-me .author-quote {
  font-size: 15px;
}

.about-me .content {
  text-align: center;
}

.about-me p {
  font-size: 1.25rem;
  padding: 0.75rem 0rem;
  margin: 0;
}

.about-me .quote {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
  padding: 1.5rem 0rem;
}

.about-me .quote p {
  font-size: 1.5625rem;
}

.spotify-listen h1{
  box-shadow: none;
  font-size: 3rem;
  margin: 0;
  padding-bottom: 1rem;
}

.spotify-listen i{
  color: #1DB954;
}

.experiences h1 {
  font-size: 2.6rem;
  font-family: "Assistant";
  background-color: #4B4B4B;
  color: #F2F2F2;
  padding: 1rem 2rem;
  margin: 1.5rem 0rem;
  border-radius: 1.1rem;
  display: inline-block;
}

.about .spotify {
  width: none;
}

.about .about-me h2 {
  font-size: 2.5rem;
  font-weight: 500;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .home {
    padding: 0 3rem;
    flex-direction: row;
  }
  .home .home-info {
    max-width: 45rem;
  }
  .home .home-case-studies {
    height: 100%;

    /* overflow-x: scroll; */
    flex-direction: row;
    padding-bottom: 0;
  }
  .home .home-case-studies img {
    width: 30rem;
    /* CHUCK Edit */
    max-width: 500px;
    margin-bottom: 2rem;
    box-shadow: 8px 12px 8px black;
  }

  .about {
    margin: 0rem 3rem;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
  }
  .about img {
    width: 30rem;
    height: 47rem;
    -o-object-fit: cover;
    object-fit: cover;
    flex: none;
  }
  .about .about-me {
    flex: none;
    width: 45rem;
    text-align: start;
  }
  .about .about-me .content {
    font-size: 1.25rem;
    text-align: start;
  }
  .about .about-me h2 {
    font-size: 3.5rem;
    display: inline-block;
    font-weight: 400;
    margin: 0;
  }
  .about .about-me .small {
    display: inline-block;
  }
  .about .spotify {
    flex: none;
    width: auto;
    width: 45rem;
  }
  .about .spotify img {
    width: 32.62rem;
    height: 47rem;
  }
  .about .spotify a {
    padding: 1.5rem 2rem;
    border-radius: 1.5rem 0rem;
    top: 80%;
    right: 38%;
  }

  .experiences {
    flex: none;
  }

  .arrow-left {
    display: block;
    position: absolute;
    left: 5rem;
    bottom: 5rem;
  }

  .logo object {
    width: 100%;
  }

  .about-me .experiences {
    width: 45rem;
  }

  .home .home-info h1 {
    font-size: 2.6rem;
    font-weight: 600;
  }

  .home .home-info h2 {
    font-size: 1.6rem;
  }
  
  .home .home-info p {
    font-size: 1.3rem;
  }
  .home .home-info img {
    width: 20rem;
    height: 20rem;
  }
}
@media screen and (min-width: 992px) {
  header {
    flex-direction: row;
  }

  .primary-navigation {
    padding: 2rem 3.1rem;
  }
  .primary-navigation .menu-toggle {
    display: none;
  }
  .primary-navigation .primary-nav-list {
    font-size: 1.5625rem;
    display: block !important;
  }
  .primary-navigation nav {
    position: relative;
    top: auto;
    left: auto;
    height: auto;
    width: auto;
  }
  .primary-navigation nav ul {
    flex-direction: row;
    gap: 1.5rem;
  }
  .primary-navigation nav ul li {
    width: auto;
  }
  .primary-navigation nav ul a {
    line-height: 2rem;
    vertical-align: text-bottom;
  }
  .primary-navigation nav .cta a {
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
  }
  .primary-navigation nav .cta small {
    font-size: 1rem;
  }

  .intro-home {
    padding: 10vw;
    flex-direction: row;
    gap: 5rem;
  }

  .intro-home p {
    text-align: start;
    font-size: 1.7rem;
  }
  .intro-home h1 {
    text-align: start;
    font-size: 3rem;
  }

  .intro-home img {
    width: 20rem;
    height: 20rem;
  }

  .intro-home .typing-container {
    justify-content: flex-start;
  }
  
  .intro-text {
    padding-left: none;
    padding-right: none;
  }

  .arrow-right {
    display: block;
  }

  .chevron-down {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */
